// 新增一個style.scss在scss資較夾內

$primary-color: #9CDED2;
$main-color: #F0A7A7;
$text-color: #4D4D4D;
$borderline: #EFEFEF;



* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;

}





// 內容區塊(常用設定)

.img-fluid {
    width: 100%;

}

.img-rounded {
    border-radius: 8px;
}

.img-circle {
    border-radius: 100%;
}

img{
    vertical-align:top;
}

.text-center {
    text-align: center;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.title a {
    color:$text-color;
    font-size: 1.2em;
    font-weight: 700;
}

.date {
    color: #ac6610
}

h2 {
    font-size: 2em;
    margin: 60px auto 30px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}



.flex-start {
    justify-self: start;
}

.flex-space-between {
    justify-content: space-between;

}

.flex-space-around {
    justify-content: space-around;

}

.flex-center {
    justify-content: center;

}

.flex-end {
    justify-content: end;
}




// 電腦版 開始

// header區塊開始============

header {
    background-color: #ffffff;
    border-top: 10px solid $primary-color;
    border-bottom: 1px solid $borderline;
    height: 140 px;
    width:100%;
}

.nav-row{
    display: flex;
    flex-wrap: wrap;

}

header>.container nav>ul {
    display: flex;
    flex-wrap: wrap;
}

header>.container nav>ul>li {
    margin-left: 30px;
    margin-top: 40px;

}

header>.container nav>ul>li>a {
    // line-height: ;
    color: $text-color;
}



.list {
    align-items: center;
    display: flex;
}



// header區塊結束====



// main區塊開始==========

.img-parent {
    position: relative;

}

.img-son {
    content: '';
    width: 100%;
    height: auto;
    transform: translatX(-50%);
    transform: translatY(-50%);
    position: absolute;
    left: 0;
    bottom: 0;
}


.bgc{
    background-color: $main-color;
}

.item {
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-left:120;
    padding-right:120;
    padding-bottom: 40px;
}

.item>h2{
  color: #ffffff;
}

.item>ul>li{
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.item>ul>li>a{
    list-style: none;
    color: #ffffff;

}
 
.area-align{
    align-content: center;
}

.icon-parent{
    position: relative;
}
.icon-arrow-r{
    position: absolute;
    right: -10px;
    top: 100px;
    transform: translateY(-50%);
}
.icon-arrow-l{
    position: absolute;
    left: -10px;
    top: 100px;
    transform: translateY(-50%);
}

// main區塊結束==========




// 頁尾區塊開始
footer {
    border-top: 1px solid $borderline;
    padding: 40px 0px 40px 0；
}

dt  {
    font-size: 1.2em;
    margin-top: 10px;
}

dd {
    margin-bottom: 4px;
    color: $text-color;
}

footer>.container p{
    line-height: 20px;
    margin-bottom: 20px;
}

// 首尾區塊結束\

// 區塊設定

@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 1200px end