// 新增一個style.scss在scss資較夾內

$primary-color: #9CDED2;
$main-color: #F0A7A7;
$text-color: #4D4D4D;
$borderline: #EFEFEF;



* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;

}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;

}





// 內容區塊(常用設定)

.img-fluid {
    width: 100%;

}

.img-rounded {
    border-radius: 8px;
}

.img-circle {
    border-radius: 100%;
}

.text-center {
    text-align: center;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.title a {
    color: rgb(72, 12, 4);
    font-size: 1.5em;
    font-weight: 700;
}

.date {
    color: #ac6610
}

h2 {
    font-size: 2em;
    margin: 60px auto 30px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}



.flex-start {
    justify-self: start;
}

.flex-space-between {
    justify-content: space-between;

}

.flex-space-around {
    justify-content: space-around;

}

.flex-center {
    justify-content: center;

}

.flex-end {
    justify-content: end;
}




// 電腦版 開始

// header區塊開始============

header {
    background-color: #ffffff;
    border-top: 10px solid $primary-color;
    border-bottom: 1px solid $borderline;
    height: 140 px;
    width:100%;
}

header>.container nav>ul {
    display: flex;
}

header>.container nav>ul>li {
    margin-right: 30px;
}

header>.container nav>ul>li>a {
    // line-height: ;
    color: $text-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}


.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;  

}


.icon {
    padding-left: 10px;
}



// header區塊結束====



// main區塊開始==========

.img-parent {
    position: relative;

}

.img-son {
    content: '';
    width: 100%;
    height: auto;
    transform: translatX(-50%);
    transform: translatY(-50%);
    position: absolute;
    left: 0;
    bottom: 0;
}


.item-bgc{
    background-color: $main-color;
}

.item {
    display: block;
    width: 100%;
    padding-top: 40px;
    padding-left:120;
    padding-right:120;
    padding-bottom: 40px;
}

.item>h2{
  color: #ffffff;
}

.item>ul>li{
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.item>ul>li>a{
    list-style: none;
    color: #ffffff;

}



// main區塊結束==========




// 頁尾區塊開始
footer {
    border-top: 1px solid $borderline;
    height: 140px;
    padding: 40px 0px 40px 0；
}

footer>.container nav>ul {
    margin-top: 20px;
    display: flex;
}

footer>.container nav>ul>li {
    margin-right: 30px;
}

footer>.container nav>ul>li>p {
    // line-height: ;
    display: block;
    color: $text-color;
    font-size: 1.2em;
    padding-bottom: 20px;


}

// 首尾區塊結束

// 手機板開始========

@media (min-width:768px) {

    .header{
        height: 70px;

    }
    header>.container nav {
        width: 100%;
    }

    header>.container nav>ul>li {
        position: relative;
    }

    header>.container nav>ul>li:hover .submenu {
        display: block;
    }




    .submenu {
        position: absolute;
        background-color: $primary-color;
        width: 160%;
        left: 0px;
        // bottom:0px;
        top: 60px;
        padding: 10px;
        display: none;
    }

    .submenu>li {
        line-height: 40px;
    }

    .submenu>li>a {
        color: black;
    }



}

// 電腦版設定 end========







// 響應式設定col圖面 star

// 手機板
@for $i from 1 through 12 {
    .col-#{$i} {
        --num:calc(12/#{$i});
        width: calc(100% /var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

// 手機結束

// 768px star 平板
@media(min-width:768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num:calc(12/#{$i});
            width: calc(100% /var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 768px end

// 1200px star1 電腦版
@media(min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num:calc(12/#{$i});
            width: calc(100% /var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

// 1200px end

@media (min-width: 768px) {
    .order-md-1 {
        order: -1;
    }
}

// 響應式設定end



// 首頁結束




//手機版(小於767px以上執行)開始
@media(max-width:767px) {


    .icon-menu {
        width: 15%;
        display: block;
        background-color: $main-color;
        color: azure;
        line-height: 60px;
        text-align: center;
    }

    header {
        position: relative;
    }

    header>.container nav {
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: $main-color;
        

    }

    // css menu動畫star
    nav {
        //viewport width
        height: 100vh;
        left: px;

        // left: -100vw;
        // 上面這一行等二層選單完成再開啟
        // opacity: 0;
        transition: all .3s;
    }

    .icon-menu:hover+nav {
        left: 0px;
        // opacity: 1;

    }

    // css menu動畫end

    header>.container nav.active {
        display: block;
    }


    header>.container nav>ul {
        display: block;
        // position: absolute;
    }

    header>.container nav>ul>li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid $primary-color
    }

    header>.container nav>ul>li>a {
        display: block;

    }



    .submenu {
        display: none;
        background-color: #4c649c;
    }

    header>.container nav>ul>li:hover .submenu {
        display: block;

    }

    .submenu>li {
        line-height: 60px;
        border-bottom: 1px solid black;
    }

    .submenu>li>a {
        color: $primary-color;
        display: block;
    }
}

//手機版(小於767px以上執行)結束





// 超過768px以上執行開始
@media(min-width:768px) {
    .icon-menu {
        display: none;
    }
}

// min-width:768 結束


.titlebutton {
    display: flex;
    width: 100%;
}

.titlebuttona {
    display: block;
    padding: 5px 20px 5px 20px;
    background-color: #f7c309;
    margin-right: 30px;

}



//其他頁面
// 麵包屑
.breadcrumb {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.breadcrumb a {
    color: black;
}

.w-100 {
    width: 100;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

// element.style {}

.btn-primary {
    background-color: rgb(243, 180, 21);
    padding: 15px;
    color: black;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;

}

.btn-primary:hover {
    background: black;
    color: burlywood
}
