@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.title a {
  color: #480c04;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: #ac6610;
}

h2 {
  font-size: 2em;
  margin: 60px auto 30px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.flex-start {
  justify-self: start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: end;
}

header {
  background-color: #ffffff;
  border-top: 10px solid #9CDED2;
  border-bottom: 1px solid #EFEFEF;
  height: 140 px;
  width: 100%;
}

header > .container nav > ul {
  display: flex;
}

header > .container nav > ul > li {
  margin-right: 30px;
}

header > .container nav > ul > li > a {
  color: #4D4D4D;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  padding-left: 10px;
}

.img-parent {
  position: relative;
}

.img-son {
  content: "";
  width: 100%;
  height: auto;
  transform: translatX(-50%);
  transform: translatY(-50%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.item-bgc {
  background-color: #F0A7A7;
}

.item {
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-left: 120;
  padding-right: 120;
  padding-bottom: 40px;
}

.item > h2 {
  color: #ffffff;
}

.item > ul > li {
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item > ul > li > a {
  list-style: none;
  color: #ffffff;
}

footer {
  border-top: 1px solid #EFEFEF;
  height: 140px;
  padding: 40px 0px 40px 0；;
}

footer > .container nav > ul {
  margin-top: 20px;
  display: flex;
}

footer > .container nav > ul > li {
  margin-right: 30px;
}

footer > .container nav > ul > li > p {
  display: block;
  color: #4D4D4D;
  font-size: 1.2em;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .header {
    height: 70px;
  }

  header > .container nav {
    width: 100%;
  }

  header > .container nav > ul > li {
    position: relative;
  }

  header > .container nav > ul > li:hover .submenu {
    display: block;
  }

  .submenu {
    position: absolute;
    background-color: #9CDED2;
    width: 160%;
    left: 0px;
    top: 60px;
    padding: 10px;
    display: none;
  }

  .submenu > li {
    line-height: 40px;
  }

  .submenu > li > a {
    color: black;
  }
}
.col-1 {
  --num:calc(12/1);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num:calc(12/2);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num:calc(12/3);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num:calc(12/4);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num:calc(12/5);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num:calc(12/6);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num:calc(12/7);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num:calc(12/8);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num:calc(12/9);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num:calc(12/10);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num:calc(12/11);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num:calc(12/12);
  width: calc(100% /var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num:calc(12/1);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num:calc(12/2);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num:calc(12/3);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num:calc(12/4);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num:calc(12/5);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num:calc(12/6);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num:calc(12/7);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num:calc(12/8);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num:calc(12/9);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num:calc(12/10);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num:calc(12/11);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num:calc(12/12);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num:calc(12/1);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num:calc(12/2);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num:calc(12/3);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num:calc(12/4);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num:calc(12/5);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num:calc(12/6);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num:calc(12/7);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num:calc(12/8);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num:calc(12/9);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num:calc(12/10);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num:calc(12/11);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num:calc(12/12);
    width: calc(100% /var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 768px) {
  .order-md-1 {
    order: -1;
  }
}
@media (max-width: 767px) {
  .icon-menu {
    width: 15%;
    display: block;
    background-color: #F0A7A7;
    color: azure;
    line-height: 60px;
    text-align: center;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #F0A7A7;
  }

  nav {
    height: 100vh;
    left: px;
    transition: all 0.3s;
  }

  .icon-menu:hover + nav {
    left: 0px;
  }

  header > .container nav.active {
    display: block;
  }

  header > .container nav > ul {
    display: block;
  }

  header > .container nav > ul > li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #9CDED2;
  }

  header > .container nav > ul > li > a {
    display: block;
  }

  .submenu {
    display: none;
    background-color: #4c649c;
  }

  header > .container nav > ul > li:hover .submenu {
    display: block;
  }

  .submenu > li {
    line-height: 60px;
    border-bottom: 1px solid black;
  }

  .submenu > li > a {
    color: #9CDED2;
    display: block;
  }
}
@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
.titlebutton {
  display: flex;
  width: 100%;
}

.titlebuttona {
  display: block;
  padding: 5px 20px 5px 20px;
  background-color: #f7c309;
  margin-right: 30px;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: black;
}

.w-100 {
  width: 100;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.btn-primary {
  background-color: #f3b415;
  padding: 15px;
  color: black;
  display: block;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.btn-primary:hover {
  background: black;
  color: burlywood;
}