@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 5px;
}

.img-circle {
  border-radius: 100%;
}

img {
  vertical-align: top;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-color-w {
  color: #ffffff;
}

.text-color-b {
  color: #4D4D4D;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.flex-start {
  justify-self: start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: end;
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 768px) {
  .order-md-1 {
    order: -1;
  }
}
@media (min-width: 768px) {
  .offset-md-1 {
    --ml-num: calc(12 / 1);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-2 {
    --ml-num: calc(12 / 2);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-3 {
    --ml-num: calc(12 / 3);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-4 {
    --ml-num: calc(12 / 4);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-5 {
    --ml-num: calc(12 / 5);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-6 {
    --ml-num: calc(12 / 6);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-7 {
    --ml-num: calc(12 / 7);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-8 {
    --ml-num: calc(12 / 8);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-9 {
    --ml-num: calc(12 / 9);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-10 {
    --ml-num: calc(12 / 10);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-11 {
    --ml-num: calc(12 / 11);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-12 {
    --ml-num: calc(12 / 12);
    margin-left: calc(100% / var(--ml-num));
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0;
  }
}
body {
  overflow-x: hidden;
}

.loading-overlay {
  position: fixed;
  /* top:0;
  left:0;
  right:0;
  bottom:0; */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left:-50vw */
  /* display: none; */
  transition: 0.3s all;
  transition-delay: 1s;
}

.loading-overlay.active {
  top: -100vh;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #CCCCCC;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loading-overlay img {
  width: 150px;
  margin-bottom: 15px;
  margin-left: 20px;
}

header {
  background-color: #ffffff;
  border-top: 10px solid #9CDED2;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}

.img-logo {
  margin-top: 10px;
  height: 80px;
}

.list {
  align-items: center;
  display: flex;
}

.icon {
  margin-left: 30px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .img-logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icon {
    display: none;
  }

  .icon-arrow-l {
    display: none;
  }

  .icon-arrow-r {
    display: none;
  }

  .icon-menu {
    margin-top: 15px;
    width: 10%;
    display: block;
    line-height: 60px;
    text-align: center;
    align-items: center;
  }

  .logo-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header {
    position: relative;
  }

  header > .container nav {
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    display: none;
  }

  header > .container nav.active {
    display: block;
  }

  header > .container nav > ul > li {
    line-height: 60px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
  }

  header > .container nav > ul > li > a {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #9CDED2;
    border-bottom: 1px solid #9CDED2;
  }

  .submenu {
    display: none;
  }

  .submenu a {
    color: #4D4D4D;
  }

  .submenu.active {
    display: block;
  }

  .copyright {
    text-align: left;
  }

  .allproduct-aside {
    text-align: center;
    border: 1px solid #4D4D4D;
    border-radius: 5px;
  }

  .product-image-1 {
    display: none;
  }

  .about-p {
    padding-left: 0px;
  }

  .thumbnails > img {
    width: 45px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .display-md-none {
    display: none;
  }

  .display-md-block {
    display: block;
  }

  .display-md-flex {
    display: flex;
  }

  .icon-text {
    display: none;
  }

  header > .container nav > ul {
    display: flex;
    flex-wrap: wrap;
  }

  header > .container nav > ul > li {
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 40px;
    position: relative;
    line-height: 40px;
  }

  header > .container nav > ul > li > a {
    color: #4D4D4D;
    font-weight: 700;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
  }

  .submenu a {
    color: #4D4D4D;
  }

  .submenu.active {
    display: block;
  }

  .copyright {
    text-align: center;
  }

  .product-image-2 {
    display: none;
  }

  .about-p {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 20px;
  }
}
main > .container p {
  color: #4D4D4D;
  font-size: 1.2em;
  font-weight: 700;
}

.pt-10 {
  padding-top: 10em;
}

.pb-10 {
  padding-bottom: 10em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-5 {
  padding-bottom: 5em;
}

.pt-2 {
  padding-top: 2em;
}

.pb-2 {
  padding-bottom: 2em;
}

.title {
  color: #4D4D4D;
  padding-top: 20px;
}

.bgc-blue {
  background-color: #9CDED2;
  height: 300px;
  padding: 100px auto;
}

.blue-icon {
  width: 33%;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.index-h2-pb80 {
  padding-bottom: 80px;
}

.index-h3-pt30 {
  padding-top: 30px;
}

.bgc-pink {
  background-color: #F0A7A7;
}

.item {
  display: block;
  width: 100%;
  padding-top: 100px;
  padding-left: 120;
  padding-right: 120;
  padding-bottom: 100px;
}

.item > h2 {
  color: #ffffff;
  padding-bottom: 30px;
}

.item > ul > li {
  border-top: 1px solid #ffffff;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.item-date {
  color: #ffffff;
}

.item-tage {
  color: #ffffff;
  padding: 10px;
}

.item-title a {
  color: #ffffff;
}

.banner {
  width: 100%;
  /* max-width: 600px; */
  margin: auto;
}

.banner-img {
  margin: 10px;
}

.slick-prev {
  /* left:25px; */
  z-index: 10;
}

.slick-next {
  /* right:25px */
}

.slick-next:before, .slick-prev:before {
  color: #F0A7A7;
}

footer {
  border-top: 1px solid #CCCCCC;
  padding: 40px 0px 40px 0；;
}

dt {
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

dd {
  margin-bottom: 4px;
  color: #4D4D4D;
}

footer > .container p {
  line-height: 20px;
  margin-bottom: 20px;
}

.page-top {
  position: fixed;
  bottom: 10px;
  background-color: #9CDED2;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: block;
  text-align: center;
  right: -60px;
}

.page-top.active {
  right: 10px;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: black;
}

.allprd-p {
  color: #4D4D4D;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 2em;
}

.allprd-h3 {
  margin-left: 20px;
}

.tab-link > li > a {
  text-decoration: none;
  width: 31%;
  margin: 1%;
  line-height: 40px;
  color: #4D4D4D;
  text-align: center;
}

.tab-link > li > a.active {
  color: #9CDED2;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.main-img {
  margin-bottom: 10px;
  width: 100%;
}

.main-img {
  margin-bottom: 10px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails > img {
  width: 73px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.thumbnails > img:last-child {
  margin-right: 0px;
}

.thumbnails > img.active {
  border: 3px solid #F0A7A7;
}

.button {
  display: block;
  text-align: center;
  padding: 5px 10px;
  background-color: #9CDED2;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  width: 60%;
  margin: 20px 10px;
}

.button:hover {
  background-color: #F0A7A7;
}

.product-word > h3 {
  margin-bottom: 20px;
}

.product-word > h4,
h3,
p {
  margin: 20px 0;
  line-height: 1.2em;
}

.product-image-1 img.img-fluid {
  max-width: 150px;
}

.math-bar {
  text-align: center;
  align-items: center;
  width: 15%;
  margin: 0;
  border-radius: 0px;
}

.border-line {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0;
  vertical-align: top;
}

.news-img {
  vertical-align: top;
}

.news-h3 {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
}

.news-p {
  padding-left: 30px;
}

.about-bgc {
  background-color: #9CDED2;
}

.about-h2 {
  padding-bottom: 70px;
}

.about-h3 {
  padding-top: 30px;
}

.form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
}

label {
  display: block;
  width: 20%;
  padding: 3px;
}

input {
  width: 80%;
  border: none;
  border-radius: 5px;
  border: 1px solid #4D4D4D;
  padding: 5px 0px;
}

.btn-two {
  width: 100%;
  background-color: #9CDED2;
  font-size: 16px;
  padding: 4px 2px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #4D4D4D;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-two:hover {
  background-color: #F0A7A7;
  color: #ffffff;
}

.btn-two a {
  color: #000000;
}

.btn-a {
  color: #4D4D4D;
}

.u {
  box-shadow: 0 1px;
}

.btn-img {
  width: 24px;
  align-items: center;
  margin-right: 5px;
}

.blue-bgc {
  background-color: #9CDED2;
  margin: 20px auto;
}

.store-l,
.store-r {
  width: 100%;
  align-items: center;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
}

.store-l {
  padding-left: 20px;
}

.store-r {
  padding-right: 40px;
}

.store-img {
  align-items: center;
}